<div nz-row nzJustify="center">
  <h1 nz-col nzSpan="20">Create Post</h1>
</div>

<div nz-row nzJustify="center">
  <form nz-form nz-col nzSpan="20" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzFor="title">Title</nz-form-label>
      <nz-form-control>
        <input nz-input name="title" id="title" formControlName="title">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
